@using WebApp.ViewModels.Products

@model ProductsViewModel

<main class="main-products container">
    <h1 class="fancy-heading">Products</h1>
    <section class="gallery">
        @foreach (var product in Model.Products)
        {
            <partial name="~/Views/Shared/_ProductCard.cshtml" model="product" />
        }
    </section>
</main>