@using WebApp.ViewModels.Products

@model ProductsViewModel

<main class="products-main">
    <h1>Products</h1>
    
    @foreach (var product in Model.Products)
    {
        <partial name="~/Views/Shared/_ProductCard.cshtml" model="product" />
    }
</main>