@using WebApp.Models.Entities

@model Product

<main class="main-product-details container">
    <section>
        <img src="/images/products/@Model.Image" alt="@Model.Name">
        <div class="info">
            <div>
                <h1>@Model.Name</h1>
                <p>@Model.Description</p>
            </div>
            <span class="price"><span>price: </span>$@Model.Price.ToString().Remove(Model.Price.ToString().Length -
                2)</span>
        </div>
    </section>
</main>