@using WebApp.Models

@model Product

@{
    var paragraphs = Model.Description.Split("\n");
}

<main class="main-product-details container">
    <section>
        <img src="/images/products/@Model.Image" alt="@Model.Name">
        <div class="info">
            <div>
                <h1>@Model.Name</h1>
                @foreach (var paragraph in paragraphs)
                {
                    <p>@paragraph</p>
                }
            </div>
            <span class="price"><span>price: </span>$@Model.Price.ToString().Remove(Model.Price.ToString().Length -
                2)</span>
        </div>
    </section>
</main>