@using WebApp.Models.Entities

@model Product

<main class="main-product-details container">
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
    @foreach (var category in Model.Categories)
    {
        <p>@category.Name</p>
    }
    <img src="/images/products/@Model.Image" alt="@Model.Name">
</main>