@using WebApp.ViewModels.Home

@model CarouselViewModel

<h1 class="fancy-heading">@Model.Title</h1>

<section class="carousel">
    @foreach (var product in Model.Products)
    {
        <partial name="~/Views/Shared/_ProductCard.cshtml" model="product" />
    }
</section>