@using WebApp.ViewModels.Home

@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<h1>Amazing Synth Products .NET </h1>

@foreach (var carousel in Model.Carousels)
{
    <partial name="_Carousel" model="carousel" />
}
