@using WebApp.ViewModels.Home

@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<main class="main-home container">
    <partial name="_Showcase" model="Model.Showcase" />
    @foreach (var carousel in Model.Carousels)
    {
        <partial name="_Carousel" model="carousel" />
    }
</main>
