<header class="header">
    <nav>
        <a class="logo" asp-controller="Home" asp-action="Index">
            <span>A</span>mazing<span>S</span>ynth<span>P</span>roducts<span>.NET</span>
        </a>
        <div>
            <a asp-controller="Products" asp-action="Index">Products</a>
            <a asp-controller="Contact" asp-action="Index">Contact</a>
            <a asp-controller="Account" asp-action="Index">Account</a>
        </div>
    </nav>
</header>