<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Amazing Synth Products .NET</title>
    <link rel="stylesheet" href="~/css/main.css" />
    <script defer src="~/js/input-validation.js"></script>
    <script defer src="~/js/fancy-heading.js"></script>
</head>

<body>
    <partial name="~/Views/Shared/_Header.cshtml" />
    @RenderBody()
    <partial name="~/Views/Shared/_Footer.cshtml" />
    <div class="overlay"></div>
</body>

</html>
