<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazing Synth Products .NET | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <partial name="~/Views/Shared/_Header.cshtml" />
    @RenderBody()
    <partial name="~/Views/Shared/_Footer.cshtml" />
</body>

</html>
