@using WebApp.Models.Entities

@model Product

<article class="product-card">
    <a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@Model.Id">
        <img src="/images/products/@Model.Image" alt="@Model.Name">
        <div>
            <h3>@Model.Name</h3>
            <span>$@Model.Price.ToString().Remove(Model.Price.ToString().Length - 2)</span>
        </div>
    </a>
</article>