@using WebApp.ViewModels.Contact

@model ContactViewModel

<main class="main-contact container">
    <h1 class="fancy-heading">Contact</h1>
    <form method="post" novalidate>
        <div class="input-columns">
            <div class="input-row">
                <label asp-for="Name"></label>
                <input asp-for="Name">
                <span asp-validation-for="Name"></span>
            </div>
            <div class="input-row">
                <label asp-for="Email"></label>
                <input asp-for="Email">
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="input-row">
            <label asp-for="Subject"></label>
            <input asp-for="Subject">
            <span asp-validation-for="Subject"></span>
        </div>
        <div class="input-row">
            <label asp-for="Message"></label>
            <textarea asp-for="Message" rows="6"></textarea>
            <span asp-validation-for="Message"></span>
        </div>
        <button>Send</button>
    </form>
</main>