<main class="main-contact container">
    <h1 class="fancy-heading">Contact</h1>
    <form action="POST">
        <div class="input-columns">
            <div class="input-row">
                <label for="">Name</label>
                <input type="text">
            </div>
            <div class="input-row">
                <label for="">Email</label>
                <input type="text">
            </div>
        </div>
        <div class="input-row">
            <label for="">Subject</label>
            <input type="text">
        </div>
        <div class="input-row">
            <label for="">Message</label>
            <textarea name="" id="" cols="30" rows="8"></textarea>
        </div>
    </form>
</main>