@using WebApp.Models

<main class="main-message-sent container">
    <h1>Message sent!</h1>
    <p>We'll get back to you as soon as we can</p>
    <a class="button" asp-controller="Home" asp-action="Index">go home</a>
</main>