body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  border-bottom: 1px solid;
  nav {
    display: flex;
    justify-content: space-between;
  }
}

footer {
  border-top: 1px solid;
}

.container {
  max-width: var(--max-width);
  margin-inline: auto;
  width: 100%;
}

.product-card {
  img {
    border: 1px solid;
  }
  a {
    color: unset;
    text-decoration: none;
  }
}
