*::selection {
  background-color: rgba(0 100 200 / 0.5);
  color: var(--color-bg);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: var(--color-text);
  background-color: var(--color-bg);
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(2px);
  opacity: 0.15;
  pointer-events: none;
}

main {
  padding: 3rem 0rem;
}

section {
  margin-bottom: 3rem;
}

.container {
  max-width: calc(var(--max-width) + (var(--drem) * 4));
  padding-inline: calc(var(--drem) * 2);
  margin-inline: auto;
  width: 100%;
}
