body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: var(--color-text);
  background-color: var(--color-bg);
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(2px);
  opacity: 0.15;
  pointer-events: none;
}

main {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.container {
  max-width: calc(var(--max-width) + 4rem);
  padding-inline: 2rem;
  margin-inline: auto;
  width: 100%;
}
