@{
    ViewData["Title"] = "Access Denied";
}

<main class="main-denied container">
    <h1>Access denied</h1>
    <p>Looks like you're not supposed to be here?</p>
    <a class="button" asp-controller="Home" asp-action="Index">go home</a>
</main>
