@using WebApp.ViewModels.Account

@model LoginViewModel

<main class="main-login container">
    <h1 class="fancy-heading">Login</h1>
    <form method="post" novalidate>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="input-row">
            <label asp-for="Email"></label>
            <input asp-for="Email">
            <span asp-validation-for="Email"></span>
        </div>
        <div class="input-row">
            <label asp-for="Password"></label>
            <input asp-for="Password">
            <span asp-validation-for="Password"></span>
        </div>
        @* TODO: This gives errors in the console. I don't want it to be required *@
        <div class="input-row-remember">
            <input class="css-checkbox" asp-for="RememberMe" />
            <label asp-for="RememberMe"></label>
            <span asp-validation-for="RememberMe"></span>
        </div>
        <div class="buttons">
            <a class="button" asp-controller="account" asp-action="register">register</a>
            <button type="submit">Login</button>
        </div>
    </form>
</main>